:root {
    font-family: sans-serif;
}

body {
    background: #333;
}

#ui {
    position: fixed;
}

#output {
    color: white;
    background: #000c;
    padding: 10px;
}

#drawingCanvas {
    position: fixed;
    left: 0;
    top: 0;
    image-rendering: pixelated;
}

#backgroundCanvas {
    position: fixed;
    image-rendering: pixelated;
}

#overlay {
    mix-blend-mode: difference;
    position: fixed;
}